---

---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/family.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Familien på Fuglestein</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Me er ein familie som brenn for å føra den stolte arven på Fuglestein vidare.
               For oss handlar ikkje fruktdyrking berre om produksjon, men om kjærleik til faget,
                berekraft og det å skapa unike produkt av ypperste kvalitet.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Med 17 000 nye frukttre på garden, legg me ned mykje arbeid og lidenskap kvar einaste
               dag for å gje deg den beste smaken av Ryfylke - enten du smakar på den friske eplemosten
                vår eller den prisvinnande sidra vår. Velkomen til gards!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Second section -->
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24 items-center">
      
     <video
      autoplay
      loop
      muted
      playsinline
      preload="auto"
      class="mx-auto w-full max-w-xl h-[450px] sm:h-[550px] lg:h-[650px] object-cover rounded-3xl lg:order-last shadow-sm"
    >
  <source src="/assets/about_video.webm" type="video/webm" />
  Nettleseren din støtter ikke videoavspilling.
</video>
      
      <div class="flex flex-col gap-10">
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Historia til garden</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Fuglestein ligg lunt og sørvent, 70 meter over havet nær Ryfylkefjorden. På toppen av
               morenen her finn ein eit gamalt gravfelt frå jernalderen, med minst seks gravrøyser og
                to bautasteinar der det har vorte funne både sølvringar og treknivar.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Men løyndommen bak den frodige voksteren og den unike sødmen i frukta vår ligg
               i bakken. Jorda vår er rik på fyllitt, ei næringsrik, forsteina leire som gjer
                jordsmonnet heilt perfekt for fruktdyrking.
            </p>
             <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Denne tradisjonen er gamal på staden; den eldste kjende eplehagen her er omtala
               heilt tilbake til 1838. Kombinasjonen av dei varme dagane, dei kjølige haustnettene og
                den næringsrike jorda er det som gjev frukta vår den heilt særskilde fargen og fyldige 
                smaken du finn i glasset.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>