<div class="w-full h-[350px] sm:h-[450px] relative overflow-hidden mt-6 sm:mt-8">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.4441415308465!2d6.110757477514185!3d59.32553841132386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463bdd37ac0087a1%3A0x3464aa7d4ecfd250!2sFuglestein%20Fruktgard!5e0!3m2!1sno!2sno!4v1781467686651!5m2!1sno!2sno"
    class="w-full h-full border-0 opacity-80 grayscale"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>